<!DOCTYPE html>
<html>

<head>
  <title>Products</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./../css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="./../css/main.css" type="text/css" media="all">
  <link rel="stylesheet" href="./../css/navigation.css" type="text/css" media="all">
  <link rel="stylesheet" href="./../css/products.css" type="text/css" media="all">
  <link rel="stylesheet" href="./../css/footer.css" type="text/css" media="all">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script async="" src="./../products-script.js"></script>
</head>

<body>
  <div class="container">
    <ul class="navigation">
      <li><a href="./../index.html">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="cart.html">Cart</a></li>
    </ul>
    <div class="products-filter">
      <h1>All products</h1>

      <div class="sort">
        <div class="collection-sort">
          <label>Filter by:</label>
          <select>
            <option value="/">All Products</option>
            <option value="/">Category 1</option>
            <option value="/">Category 2</option>
          </select>
        </div>

        <div class="collection-sort">
          <label>Sort by:</label>
          <select>
            <option value="/">Featured</option>
            <option value="/">Best Selling</option>
            <option value="/">Alphabetically, A-Z</option>
            <option value="/">Alphabetically, Z-A</option>
            <option value="/">Price, low to high</option>
            <option value="/">Price, high to low</option>
            <option value="/">Date, new to old</option>
            <option value="/">Date, old to new</option>
          </select>
        </div>
      </div>
    </div>

    <div class="products">
    </div>
  </div>
  <footer>
    <section class="footer-legal">
      <ul class="footer-legal-list">
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li>&copy; 2022 Copyright Example Inc.</li>
      </ul>
    </section>
  </footer>
</body>

</html>