<!DOCTYPE html>
<html>

<head>
  <title>Product</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./../css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="./../css/main.css" type="text/css" media="all">
  <link rel="stylesheet" href="./../css/navigation.css" type="text/css" media="all">
  <link rel="stylesheet" href="./../css/product.css" type="text/css" media="all">
  <link rel="stylesheet" href="./../css/footer.css" type="text/css" media="all">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="./../product-script.js"></script>
</head>

<body>
  <div class="container">
    <ul class="navigation">
      <li><a href="./../index.html">Home</a></li>
      <li><a href="products.html">Products</a></li>
      <li><a href="cart.html">Cart</a></li>
    </ul>

    <nav class="product-title">
      <h1>Product 1</h1>
    </nav>

    <section class="product-information">

      <div class="product-card">
        <div class="product-image">
          <img src="https://via.placeholder.com/1024">
        </div>
        <div class="product-info">
        </div>
        <div class="product-cta">
          <button>Buy</button>
        </div>
      </div>

      <div class="product-description">
      </div>
    </section>

    <footer>
      <section class="footer-legal">
        <ul class="footer-legal-list">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li>&copy; 2022 Copyright Example Inc.</li>
        </ul>
      </section>
    </footer>
  </div>
</body>

</html>