<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="./css/main.css" type="text/css" media="all">
<link rel="stylesheet" href="./css/navigation.css" type="text/css" media="all">
<link rel="stylesheet" href="./css/footer.css" type="text/css" media="all">
</head>
<body>
  <div class="container">
    <ul class="navigation">
      <li><a href="#">Home</a></li>
      <li><a href="./pages/products.html">Products</a></li>
      <li><a href="#">Cart</a></li>
    </ul>
  </div>

  <footer>
    <section class="footer-legal">
      <ul class="footer-legal-list">
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li>&copy; 2022 Copyright Example Inc.</li>
      </ul>
    </section>
  </footer>
</body>
</html>


